<!DOCTYPE html>
<html>
<!--totototototototo-->
<head>
	<title>Login</title>
	\<!-- orignal file it login bottum-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.googleapis.com">  
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <!-- like the mian nov bar -->
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="css/all4_css.css" rel="stylesheet">
    <link href="css/all3_icon.css" rel="stylesheet">
    <link href="css/all2_css.css" rel="stylesheet">
    <link href="css/all1_css.css" rel="stylesheet">


	<!-- מיוחד לדף זה-->
    <link href="css/login_css.css" rel="stylesheet">



</head>
<!-- רגיל לכל דף-->
<body>
	<!--- code  for nov bar-->
	<section class="preloader">
		<div class="spinner">
			<span class="spinner-rotate"></span>    
		</div>
	</section>

	<nav class="navbar navbar-expand-lg">
		<div class="container">

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<a href="index.html" class="navbar-brand mx-auto mx-lg-0">יוספז"ל בע"מ</a>

			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-lg-5">

					<li class="nav-item">
						<a class="nav-link click-scroll" id="size_plus_bold_top" href="index.html">בית</a>
					</li>

					<li class="nav-item"></li>
						<a class="nav-link click-scroll" id="size_plus_bold_top" href="gofind.html">אודות</a>
					</li>

					<li class="nav-item">
						<a class="nav-link click-scroll" id="size_plus_bold_top" href="#section_3">שירותים</a>
					</li>

					<li class="nav-item">
						<a class="nav-link click-scroll" id="size_plus_bold_top" href="#section_4">מוצרים</a>
					</li>

					<li class="nav-item">
						<a class="nav-link click-scroll" id="size_plus_bold_top" href="#section_5">צור קשר</a>
					</li>
				</ul>
			</div>

		</div>
	</nav>
<!-- רגיל לכל דף סוף-->



	<!-- מיוחד לדף זה-->

	<!--- code  for login bar-->
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">


					<h3 id="form-title">Login</h3>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="">
						{% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="username" placeholder="Username..." class="form-control">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
								<input type="password" name="password" placeholder="Password..." class="form-control" >
						</div>

							<div class="d-flex justify-content-center mt-3 login_container">
				 				<input class="btn login_btn" type="submit" value="Login">
				   			</div>
					</form>

				</div>

				{% if messages %}
				<ul class="messages">
					{% for message in messages %}
					<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
						{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
						{{ message }}
					</li>
					{% endfor %}
				</ul>
				{% endif %}

				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
					</div>

				</div>
			</div>
		</div>
	</div>
<!--   ---------------- ------------------ ------------- ----------- -->

	        <!-- JAVASCRIPT FILES -->
			<script src="js/all_js7.js"></script>
			<script src="js/all_js6.js"></script>
			<script src="js/all_js5.js"></script>
			<script src="js/all_js4.js"></script>
			<script src="js/all_js3.js"></script>
			<script src="js/all_js2.js"></script>
			<script src="js/all_js1.js"></script>
	
</body>

</html>