<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <!-- Mata Config -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="TemplateMo">

  <!-- Addon files -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/magnific-popup.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/templatemo-first-portfolio-style.css' %}">
  {% block links %}
  {% endblock %}

  <title>{% block title %}Base Title{% endblock %}</title>

</head>
<body>
  <!-- insertion of the Navbar code -->
  {% include 'accounts/base/navbar.html' %}

  {% block content %}
  {% endblock %}

  <!-- Config js files -->
  <script src="{% static '/js/jquery.min.js' %}"></script>
  <script src="{% static '/js/bootstrap.min.js' %}"></script>
  <script src="{% static '/js/jquery.sticky.js' %}"></script>
  <script src="{% static '/js/click-scroll.js' %}"></script>
  <script src="{% static '/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static '/js/magnific-popup-options.js' %}"></script>
  <script src="{% static '/js/custom.js' %}"></script>

</body>