{% extends 'accounts/base/main.html' %}

{% block links %}
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}אודות היצורים שיוצרים{% endblock %}

{% block content %}
<main>
  <!-- For this page specifically-->
    <section class="about section-padding" id="section_2">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12">
                    <img src="{% static 'images/monsters.jpg' %}" class="about-image img-fluid" alt="">
                </div>

                <div class="bg-light col-lg-6 col-12 mt-5 mt-lg-0">
                    <div class="about-thumb">

                        <div class="section-title-wrap d-flex justify-content-end align-items-center mb-4">
                            <h2 class="text-white me-4 mb-0">על היצורים שיוצרים</h2>

                            <img src="{% static 'images/happy-bearded-young-man.jpg' %}" class="avatar-image img-fluid" alt="">
                        </div>

                        <h5 style="text-align:center;">קבוצת היוצרים שיוצרים הם סטודנטים בעלי אפס מוטיבציה</h5>
                        <h5 style="color:tomato; text-align:center;"><strong> יאן פריינקלך</strong></h5>
                        <h6 style="text-align:right"> בתחילה היה מלטף צבים על הגב, לאחר מספר שנים מכר את הסטארט אפ שלו - ניקוי דודים בעזר קולה, אחרי אקזיט של 300 שקל, יאן לקח החלטה להתמכר ללוטו</h6>
                        <h5 style="color:Tomato; text-align:center;"><b>דוד בורוכוב</b></h5>
                        <h6 style="text-align:right">  אחד הסטודנטים המצטיינים שקיימים בסמי שמעון שבנגב, 25 שנים של לימודים ודוד עדיין מתעקש להיות שנה ב במחלקה להנדסת תוכנה. דוד דוגל בלמידה רצופה ללא חופשים, לדוד תואר שני באבטחה באוניברסיטת מוסקבה שבנגב</h6>
                        <h5 style="color:tomato; text-align:center;"><b>זיו פייגנבוים</b></h5>
                        <h6 style="text-align:right"> זיו הוא אחד המגרבצים הידועים בדרום, כידוע גרבוץ הוא אחד המקצעות העתיקים ביותר. לזיו פרסים רבים בנושאים כמו "המגרבץ הראשי" של מלך מרוקו, בעוד רבים מחבריו של זיו נכנסו למקצועות משפילים כמו אילוף תיקי צד והטלת ווים. זיו השקיע את זמנו במלחמה מול האקדמיה העברית ללשון שישנו את הצורה של נון סופית אך ללא הצלחה </h6>
                        <h5 style="color:tomato; text-align:center;"><b>דורון סויסה </b></h5>
                        <h6 style="text-align:right">דורון הוא שחקן גוגוים מפורסם בצפון ארץ "לעולם לא", בעוד שרוב השחקנים האחרים לא קיימים בכלל, דורון התאמן רבות לקראת תחרויות הרבות שבענף, אך לבסוף חלומו נקטע בגלל שהחל טיפול פסיכולוגי שגרם לו להבין שזה לא קיים</h6>
                </div>

            </div>
        </div>
    </section>
    <!-- For this page specifically -->

</main>
{% endblock %}