<!-- Navbar code through bootstrap -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">YosefZal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- costume buttons on the nav bar -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <!-- If statement to detect the page and change the buttons accordingly -->
      {% if pageType == 'home' %}
        <!-- Home page buttons -->
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
      {% elif pageType == 'dashboard' %}
        <!-- Dashboard page buttons -->
        <li class="nav-item active">
          <a class="nav-link" href="#">Dashboard </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>