{% extends 'accounts/base/main.html' %}

{% block title %}Prescriptions{% endblock %}

{% block content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-100 p-lg-100 mx-2 my-5">
            <h4 class="text-center">לשונית חיפוש</h4>
            <form>
            <div class="row">
                <div class="col-md"></div>
                  <div class="col-md">
                    <div class="container mt-3">
                        <div class="dropdown">
                            <button type="submit" class="btn btn-primary">בחר</button>
                          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">בחר תרופה </button>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">רטלין</a></li>
                            <li><a class="dropdown-item" href="#">אקמול</a></li>
                            <li><a class="dropdown-item" href="#">חרטה כל שהיא</a></li>
                            <li><a class="dropdown-item" href="#">השתלת שער</a></li>
                          </ul>

                        </div>
                      </div>
                  </div>
              <div class="col-md">
                <input type="text" class="form-control" placeholder="תעודת הזהות של הלקוח">
                <p>שם לב! רשימה של תרופה ללא הצדקה מבילה לפלילי</p>
              </div>
            </div>
            </form>
        </div><hr><p class="mb-0">!חיפוש כל המידע על החולים במקום אחד, פלוס הפתעה</p>
      </div>
<!-- nav bar plus end-->
<div class="row">
        <div class="col-sm">
        <div class="container mt-3">
            <div class="mb-3 mt-3 text-center">
              <label for="comment text-center"> הוראות שימוש</label>
              <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
            </div>
        </div>
    </div>

    <div class="col-sm">
        <div class="container mt-3">
            <div class="mb-3 mt-3 text-center">
              <label for="comment text-center">סיבת הנפקת המרשם </label>
              <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
            </div>
        </div>
    </div>
</div><!--end row-->

    <!-- כפתורים-->
<div class="row"><!--row 2-->
    <div class="col"></div>
    <div class="col-2">
        <div class="btn-group">
            <button type="button" class="btn btn-primary">הדפסה ומייל</button>
            <button type="button" class="btn btn-primary">שליחה</button>
            <button type="button" class="btn btn-primary">הדפסה</button>
        </div>
    </div>
    <div class="col"></div>
</div><!-- end row2-->
{% endblock %}