{% extends 'accounts/base/main.html' %}
{% block title %}Edit Profile{% endblock %}
{% block content %}
    <div class="row my-3 p-3">

    </div>
    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="px-3 pt-md-5 px-md-500 text-center"></div>
    <div class="px-3 pt-md-5 px-md-500 text-center"></div>
    <div class="px-3 pt-md-5 px-md-500 text-center"></div>
    <div class="px-3 pt-md-5 px-md-500 text-center"></div>
    <div class="px-3 pt-md-5 px-md-500 text-center"></div>

    <center>
        <div>
            <img class="rounded-circle account-img" src="{{ user.profile.avatar.url }} " style="cursor: pointer;"/>
        </div>
        <div class="form-content  ">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="small mb-1">Username:</label>
                                {{ user_form.username }}
                            <label class="small mb-1">Email:</label>
                                {{ user_form.email }}
                            <label class="small mb-1">First Name:</label>
                                {{ user_form.first_name }}
                            <label class="small mb-1">Last Name:</label>
                                {{ user_form.last_name }}
                            <label class="small mb-1">ID:</label>
                                {{ profile_form.profile_number }}
                        </div>
                        <div class="form-group">
                            <a href="{% url 'password_change' %}">Change Password</a>
                            <hr>
                            <label class="small mb-1">Change Avatar:</label>
                            {{ profile_form.avatar }}
                        </div>

                    </div>
                </div>
                <br><br>
                <button type="submit" class="btn btn-dark btn-lg">Save Changes</button>
                <button type="reset" class="btn btn-dark btn-lg">Reset</button>
            </form>
        </div>
    </center>

{% endblock content %}