<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- דף מיוחד------------><!--note-->
<link href="{% static 'css/note.css' %}" rel="stylesheet">

</head>
<body>
  <div class="tab">
    <button class="tablinks" onmouseover="openCity(event, 'today')">היום</button>
    <button class="tablinks" onmouseover="openCity(event, 'Yesterday')">אתמול</button>
    <button class="tablinks" onmouseover="openCity(event, 'date')">תאריך</button>
    <button class="tablinks" onmouseover="openCity(event, 'date')">תאריך</button>
  </div>

  <div id="today" class="tabcontent">
    <h3>היום</h3>
    <p>אלכסיס עשה בלגאן במיון</p>
  </div>

  <div id="Yesterday" class="tabcontent">
    <h3 color="#f18e8f">אתמול</h3>
    <p>רפי פוזאלוב נכנס לחופשת מחלה עקב הלבנת יתר</p>
  </div>

  <div id="date" class="tabcontent">
    <h3>תאריך</h3>
    <p>מי זוכר כל כך רחוק?!?</p>
  </div>

  <div class="clearfix"></div>
  <script src="{% static 'js/note.js' %}"></script>
</body>
</html> 
