<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><!-- מיוחד לדף זה-->
        <link href="{% static 'css/user/profli_css.css' %}" rel="stylesheet"><!-- מיוחד לדף זה-->
    </head>
    <body>
        <div class="card"><!-- מיוחד לדף זה-->
            <img src="{{ user.profile.avatar.url }}" alt="רפי פוזאליו"><!-- מיוחד לדף זה-->
          <h1>{{ user.first_name }} - {{ user.last_name }}</h1>
          <h2>{{ user.groups.get }}</h2>
        </div>
    </body>
</html>
